import numpy as np
import pandas as pd
import pandas_datareader as pdr
from linearmodels.panel import PooledOLS
import os
import yfinance as yf
import sqlite3
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore", category=ConvergenceWarning)
pd.options.mode.chained_assignment = None  # default='warn'
import time


import plots as pl
from plotnine import * 
from mizani.formatters import percent_format, date_format
from mizani.breaks import date_breaks
from itertools import product
from sklearn.model_selection import (
  train_test_split, GridSearchCV, TimeSeriesSplit, cross_val_score
)
import statsmodels.api as sm
from linearmodels.panel import PanelOLS
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import ElasticNet, Lasso, Ridge, LassoCV, RidgeCV, ElasticNetCV, LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
